<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springProject3.dao.AdminDao">

  <select id="getInquiryTotRecCnt" resultType="int">
    <if test='choice == "전체"'> select count(*) from inquiry; </if>
    <if test='choice != "전체"'> select count(*) from inquiry where reply=#{choice}; </if>
  </select>

  <select id="getInquiryList" resultType="com.spring.springProject3.vo.InquiryVo">
    <if test='choice == "전체"'> select * from inquiry; </if>
    <if test='choice != "전체"'> select * from inquiry where reply=#{choice}; </if>
  </select>
  
  
  <select id="getInquiryDetail" resultType="com.spring.springProject3.vo.InquiryVo">
  	select *,(select reIdx from inquiryReply where inquiryIdx=a.idx) as reIdx,(select reContent from inquiryReply where inquiryIdx=a.idx) as reContent from inquiry a where idx = #{idx};
  </select>
  
  <select id="getReviewTotRecCnt" resultType="int">
	  <if test='choice == "전체"'> select count(*)
		  from reservation rs
		  join room r on rs.roomIdx = r.idx
		  join hotel h on r.hotelIdx = h.idx
		  where rs.status ='리뷰작성'; </if>
  </select>
  
  <!-- 전체 호텔 조회 -->
  <select id="getAdHotelList" resultType="com.spring.springProject3.vo.HotelVo">
    select * from hotel order by idx desc;
  </select>
  
  <select id="getAdminRoomList" resultType="com.spring.springProject3.vo.RoomVo">
   select * from room where hotelIdx=#{hotelIdx};
  </select>
  
  <select id="getRoomDetailSearch" resultType="com.spring.springProject3.vo.RoomVo">
    select * from room where idx=#{idx};
  </select>

  <insert id="setInquiryReplyOk">
		insert into inquiryReply values (default,#{idx},default,#{reContent})
  </insert>
   
  <update id="setInquiryReplyStatusOk">
  	update inquiry set reply='답변완료' where idx=#{idx};
  </update>
  
  <update id="setAdInquiryDetailUpdate">
  	update inquiryReply set reContent=#{reContent} where reIdx=#{reIdx};
  </update>
  
  <update id="setAdInquiryDetailHold">
  	update inquiry set reply='답변보류' where idx=#{idx};
  </update>
  
   <update id="setHotelStatusSelectCheck">
    update hotel set status=#{statusSelect} where idx=#{idx}; 
  </update>

  <update id="setRoomStatusSelectCheck">
    update room set status=#{statusSelect} where idx=#{idx}; 
  </update>
<!-- 
  <update id="setInquiryImageDelete">
  	update inquiry set fSName='' where idx=#{idx};
  </update>
  
  
  
  <delete id="setInquiryDelete">
  	delete from inquiry where idx = #{idx};
  </delete> -->
  
  <delete id="setReviewDelete">
  	delete from review where idx = #{idx};
  </delete>
  
  
</mapper>